<p id="notice"><%= notice %></p>

<h1>Benefices</h1>

<table>
  <thead>
    <tr>
      <th>Estado</th>
      <th>Fecha vencimiento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @benefices.each do |benefice| %>
      <tr>
        <td><%= benefice.estado %></td>
        <td><%= benefice.fecha_vencimiento %></td>
        <td><%= link_to 'Show', benefice %></td>
        <td><%= link_to 'Edit', edit_benefice_path(benefice) %></td>
        <td><%= link_to 'Destroy', benefice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Benefice', new_benefice_path %>
